button {
  padding: 10px;
  margin: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}
